* text=auto eol=lf
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
python_service/models/models/buffalo_l.zip filter=lfs diff=lfs merge=lfs -text
python_service/models/models/buffalo_l/*.onnx filter=lfs diff=lfs merge=lfs -text
